---

---
      <!-- 
            nombre del objeto
            titulo
            pertenece a que tipo(categoria del objeto)
            precio
            description
            {color , cantidad , precio}
            boton de comprar
         -->
<div class="bg-stone-900 text-slate-200 p-14 flex flex-col gap-4">
    <p class="uppercase text-yellow-500">chairs</p>
    <h1 class="text-3xl font-semibold">Modern Yellow Chair</h1>
    <h2 class="text-slate-400">objetcs home</h2>
    <p class="text-3xl font-light">$ 420</p>
    <p class="uppercase font-medium">description</p>
    <p class="text-slate-400">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam vel
      quasi quod accusantium, voluptates ab fugiat et asperiores obcaecati
      adipisci deserunt beatae at porro tempore? Rem similique voluptas
      neque numquam.
    </p>
    <div class="flex gap-10 uppercase font-medium py-2">
      <div>
        <p>amount</p>
        <div>editar</div>
      </div>
      <div>
        <p>color</p>
        <div>editar</div>
      </div>
      <div>
        <p>price</p>
        <div>editar</div>
      </div>
    </div>
    <button
      class="p-2 rounded-3xl font-semibold uppercase text-xl border-slate-300 border-2 hover:text-yellow-400 hover:border-yellow-400 transition-colors duration-300"
    >
      buy product
    </button>
  </div>