---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Main from "../components/Home/Main.astro";
import Catalogue from "../components/Home/Catalogue.astro";

---

<!-- existe un margen que esta presente en toda la pagina  -->
<Layout title="Turismo">
  <Nav/>
  <Main/>
  <!-- aca puede ir un segundo nav  si existe mucha variedad de products -->
  <Catalogue/>
  <!-- aca va el footer  , que podria ser la misma navegacion en negro -->
  <nav class="flex flex-row-reverse bg-stone-900 text-slate-100 justify-between py-12 px-20 max-sm:px-2 ">
    <div class="text-slate-300 font-extralight text-sm " >@All rights reserved kardell</div>
    <ul class="flex gap-16 max-sm:gap-4  text-sm">
      <li class=" hover:text-slate-300 ">
        <a href="#"> Home </a>
        
      </li>
      <li class=" hover:text-slate-300 ">
        <a href="#"> Elements </a>
        
      </li>
      <li class=" hover:text-slate-300 ">
        <a href="#"> Materiales </a>
        
      </li>
      <li class=" hover:text-slate-300 ">
        <a href="#"> Acerca de </a>
        
      </li>
    </ul>
  </nav>

</Layout>
