---
import Layout from "../layouts/Layout.astro";
import Description from "../components/Product/Description.astro"
import ImageProd from "../components/Product/ImageProd.astro"

---

<Layout title="Producto">
  <main class="">
    <div class="grid grid-cols-2 min-h-screen">
      <ImageProd/>
      <Description/>
    </div>
  </main>
</Layout>
