---
import Layout from "../layouts/Layout.astro";
import { Description } from "../components/Product/Description.tsx";
import ImageProd from "../components/Product/ImageProd.astro";


---

<Layout title="Turismo">
  <main class="">
    <div class="grid grid-cols-2 min-h-screen max-sm:grid-cols-1">
      <ImageProd />
      <Description
        client:only="react"
      />
    </div>
  </main>
</Layout>
