---
import CardProd from "./CardProd.astro";
---

<section class="px-20 max-sm:px-2 max-sm:py-5 py-10">
  <div class="grid grid-cols-4 gap-8 max-md:grid-cols-2 max-sm:grid-cols-1">
    <!-- en aca usaremos el id para mapear  -->
    <CardProd product="titulo" id="1" price="98.00" />
    <CardProd product="papel" id="2" price="8.00" />
    <CardProd product="cartulina" id="3" price="9.00" />
    <CardProd product="lapiz" id="4" price="58.00" />
    <CardProd product="boligrafo" id="5" price="28.00" />
    <CardProd product="borrador" id="6" price="78.00" />
  </div>
</section>
