<main class="px-20 max-sm:px-2 ">
    <!-- el nav esta compuesto por
    una imagen de fondo ,
    y podemos poner un div conun png de fondo
    un texto
    una descripcion
    y un boton
    -->
    <div
      class="min-h-[100vh] flex flex-col justify-evenly items-center bg-slate-100  "
    >
      <div class="">imagen png</div>
      <div class="w-[40%] flex flex-col gap-7 max-sm:w-[80%] ">
        <h1 class="text-5xl font-semibold max-sm:text-2xl ">Diseño de pagina</h1>
        <p class="">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, aut
          illum, repudiandae consectetur
        </p>
      </div>
    </div>
  </main>