<nav class="flex justify-between py-8 px-20 max-sm:px-2 ">
    <div>icon</div>
    <!-- que opciones deberia de tener esta parte?
    la home es la que muestra el catalogo
    elements es el que muestra quizas mas detalles de cada producto
    Materials  mostrara los materiales con los que ha creado el proyecto , puede ser la parte electronica o una descripcion de su proyecto de grado
    Acerca de , tendria que mostrar cosas de ella , y en que se ha inspirado para crear su proyecto
    algo? aca podriamos añadir alguna seccion que faltase
  -->
    <ul class="flex gap-16 max-sm:gap-4  text-[1.2em] max-sm:text-sm ">
      <li class="group transition duration-300">
        <a href="#"> Home </a>
        <span
          class="block max-w-0 group-hover:max-w-full transition-all duration-300 h-[2px] bg-slate-900"
        ></span>
      </li>
      <li class="group transition duration-300">
        <a href="#"> Elements </a>
        <span
          class="block max-w-0 group-hover:max-w-full transition-all duration-300 h-[2px] bg-slate-900"
        ></span>
      </li>
      <li class="group transition duration-300">
        <a href="#"> Materiales </a>
        <span
          class="block max-w-0 group-hover:max-w-full transition-all duration-300 h-[2px] bg-slate-900"
        ></span>
      </li>
      <li class="group transition duration-300">
        <a href="#"> Acerca de </a>
        <span
          class="block max-w-0 group-hover:max-w-full transition-all duration-300 h-[2px] bg-slate-900"
        ></span>
      </li>
      <!-- <li class="group transition duration-300">
        <a href="#"> algo? </a>
        <span
          class="block max-w-0 group-hover:max-w-full transition-all duration-300 h-[2px] bg-slate-900"
        ></span>
      </li> -->
    </ul>
  </nav>